body {
  margin: 20px;
  font-family: "Playfair Display", serif;
  background: #ffffff;
  margin: 130px auto;
  padding: 10px;
  border-radius: 10px;
  max-width: 900px;
  box-shadow: rgba(158, 156, 156, 0.2) 0px 2px 2px 0px;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}
.container-fluid {
  border: solid 1mm #eddaf2;
  background: rgb(245, 243, 243);
}
h1 {
  position: relative;
  top: 0px;
  left: 5px;
  font-weight: bolder;
  font-size: 40px;
  margin-top: 15px;
  color: #2e1133;
}
.search-area {
  margin-left: 5px;
}
form button:hover {
  color: rgb(167, 73, 204);
}
h4 {
  padding: 20px 0 0 5px;
  font-size: 23px;
  font-family: "Roboto Slab", serif;
}
.forecast {
  border: solid 1mm #eddaf2;
  padding: 8px;
  margin: 5px;
  font-family: "Roboto Slab", serif;
}
.day {
  border: solid 1mm #eddaf2;
  margin: 0 auto;
  margin-bottom: 5px;
  font-family: "Roboto Slab", serif;
}
img {
  width: 30px;
}
.main-temperature {
  font-size: 40px;
}
.main-image {
  width: 60px;
  margin: 10px;
}
.unit {
  font-size: 18px;
}
.description {
  text-transform: capitalize;
}
